
#stocklist {
    display: flex;
    flex-direction: column;
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid rgba(245, 233, 233, 0.966);
    flex-wrap: nowrap;
    height: 90px;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
  }
  
  @media screen and (max-width: 1200px) and (min-width: 500px) {
    #stocklist {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: rgba(255, 248, 248, 0.651);
      margin: 0 auto;
    }
  
    .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 90px;
      padding: 0;
      width: 48%;
      margin: 7px;
    }
  }
  
  @media screen and (min-width: 1300px) {
    #stocklist {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  
    .flex {
      flex-wrap: nowrap;
      height: 90px;
      padding: 0;
      width: 31.5%;
      margin: 7px;
    }
  }
  
  .flex div {
    background-color: #e9f1f0ce;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name {
    margin-left: 3px;
  }
  .name p {
    margin: 0;
  }
  
  .name p:first-child {
    font-size: 16px;
    font-family: 'Trebuchet MS' ;
    /* font-weight: 600; */
  }
  .name p:nth-child(2),
  .name p:nth-child(3),
  .name p:nth-child(4) {
    color: rgb(80, 76, 76);
    font-weight: bold;
    font-size: 11px;
  }